# Logs
logs
*.log

*_credentials.csv

api\.serverless*
# dependencies
/api/cache*
/api/pup/cache*
/api/.serverless*
/node_modules*
/api/node_modules*
/hardhat/node_modules*
/frontend/node_modules*
/abi/node_modules*
abi\node_modules*
# testing
/coverage

# production
/build
/documentation

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
new_user_credentials (1).csv
frontend_prod_credentials (1).csv
frontend_credentials (1).csv
api/.serverless/*
abi/node_modules/*

abi\node_modules\*
